@font-face {
  font-family: x1;
  src: url(../font/FredokaOne-Regular.ttf);
}
@font-face {
  font-family: x2;
  src: url(../font/Tajawal-Light.ttf);
}
@font-face {
  font-family: "FontAwesome";
  src: url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #0c4856;
  --color2: #f87f05;
  --color3: #ffe38f;
  --color4: #f5f5f5;
  --color5: #20ae13;
  --transition: all 0.3s linear;
  --backgroundImage: linear-gradient(to right, #0c4856, #f87f05);
}
h1 {
  font-family: x1;
}
p,
h3,
h2 {
  font-family: x2;
}
h2.logo {
  margin-right: 10px;
  padding: 0px 5px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: inline-block;
  letter-spacing: -2px;
  border: 1px solid #de9204;
}
h2 span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  font-family: x1;
  color: var(--color1);
}
h2 span:nth-child(2) {
  font-size: 35px;
  font-weight: 100;
  color: var(--color2);
}
.ganeb {
  width: 340px;
  height: 100%;
  right: 0px;
  top: 0;
  z-index: 1;
  position: fixed;
  direction: rtl;
  transform: translate(120%, 0%);
  -webkit-transform: translate(120%, 0%);
  -moz-transform: translate(120%, 0%);
  -ms-transform: translate(120%, 0%);
  -o-transform: translate(120%, 0%);
}
.ganeb .ganeb1 {
  width: 340px;
  height: 100%;
  background-color: var(--color1);
  position: fixed;
  right: 0;
  z-index: 0;
}
.ganeb .ganeb2 {
  width: 330px;
  height: 100%;
  background-color: var(--color2);
  position: fixed;
  right: 0;
  z-index: 2;
}
.ganeb .ganeb3 {
  width: 320px;
  height: 100%;
  background-color: #ede9e9;
  position: fixed;
  right: 0;
  z-index: 3;
  display: grid;
  grid-template-rows: 50px 50px auto 50px 50px;
  row-gap: 15px;
  transform: translate(130%, 0%);
  -webkit-transform: translate(130%, 0%);
  -moz-transform: translate(130%, 0%);
  -ms-transform: translate(130%, 0%);
  -o-transform: translate(130%, 0%);
  padding: 1rem 0 1rem 0;
}
.ganeb3 div:nth-child(1) i {
  font-size: 30px;
  color: red;
  cursor: pointer;
}
.ganeb3 div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin: 20px;
}
.ganeb3 div:nth-child(2) {
  display: grid;
  align-content: space-around;
}
.ganeb3 div:nth-child(4) {
  margin-top: -15px;
  position: absolute;
  bottom: 20px;
  display: flex;
}
.ganeb3 h1:not(.ganeb3 div:nth-child(5) h1, .ganeb3 div:nth-child(4) h1) {
  background-color: #dbdbdb54;
  border-bottom: 3px solid #dbdbdb54;
  display: flex;
  place-items: center;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}
.ganeb3 div:nth-child(2) h1 {
  margin-top: 15px;
}
.ganeb3 h1,
.ganeb3 h2,
.ganeb3 h3,
.ganeb3 p {
  padding-right: 40px;
}
.ganeb3 h2 {
  position: relative;
}
.ganeb3  h2:not(.logo),
.ganeb3 h3,
.ganeb3 p {
  display: none;
}
.ganeb3 h2,
.ganeb3 h3,
.ganeb3 p {
  background-color: #dbdbdb54;
  border-bottom: 3px solid #dbdbdb54;
}
.ganeb3 ul {
  list-style-type: none;
}
.ganeb3 a {
  margin-right: 40px;
  text-decoration: none;
  color: black;
  font-size: 23px;
  margin-top: 5px;
  font-family: "x2";
  font-weight: 500;
  position: relative;
  display: grid;
}
.ganeb3 a {
  color: #de9204eb;
  font-weight: bold;
}
.ganeb3 a:hover {
  color: var(--color2);
  font-weight: bold;
}
.ganeb3 div:nth-child(2) a:nth-child(1)::before {
  content: "\f2bd";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: -29px;
   color: var(--color1);
}
.ganeb3 div:nth-child(2) a:nth-child(2)::before {
  content: "\f234";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: -35px;
   color: var(--color1);
}
.ganeb3 div:nth-child(3) a:nth-child(1):before {
  font-family: "Font Awesome 6 Free";
  content: "\f0eb";
  position: absolute;
  top: 3px;
  right: -25px;
   color: var(--color1);
}
.ganeb3 div:nth-child(3) a:nth-child(2):before {
  font-family: "Font Awesome 6 Free";
  content: "\f27a";
  position: absolute;
  top: 3px;
  right: -29px;
  color: var(--color1);
}
.ganeb3 h1{
  color: var(--color1);
}
.ganeb3 div:nth-child(3) h2{
  color: var(--color2);
}

.input1 {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 1;
  opacity: 0;
}
.input1:checked ~ i::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.input2:checked ~ i::after {
  transform: translate(4px, 0) rotate(45deg);
  -webkit-transform: translate(4px, 0) rotate(45deg);
  -moz-transform: translate(4px, 0) rotate(45deg);
  -ms-transform: translate(4px, 0) rotate(45deg);
  -o-transform: translate(4px, 0) rotate(45deg);
}
.input2:checked ~ i::before {
  transform: translate(-4px, 0) rotate(-45deg);
}
.input2 {
  position: absolute;
  width: 100%;
  right: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
h1 i::after,
h1 i::before,
h2 i::after,
h2 i::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: var(--color1);
}
h1 i::after,h1 i::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

h2 i::after {
  transform: translate(4px, 0) rotate(-45deg);
  -webkit-transform: translate(4px, 0) rotate(-45deg);
  -moz-transform: translate(4px, 0) rotate(-45deg);
  -ms-transform: translate(4px, 0) rotate(-45deg);
  -o-transform: translate(4px, 0) rotate(-45deg);
}
h2 i::before {
  transform: translate(-4px, 0) rotate(45deg);
  -webkit-transform: translate(-4px, 0) rotate(45deg);
  -moz-transform: translate(-4px, 0) rotate(45deg);
  -ms-transform: translate(-4px, 0) rotate(45deg);
  -o-transform: translate(-4px, 0) rotate(45deg);
}
h1 i,
h2 i {
  position: absolute;
  left: 10%;
  top: 30%;
}
ul li i:before, ul li i:after{
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

header {
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: #f8ebc3;
  z-index: 1;
}
header section {
  display: flex;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
header section article:nth-child(3) {
  width: 30px;
  margin-left: auto;
  cursor: pointer;
}
header section article:nth-child(4) {
  width: 400px;
  height: 100%;
  background-color: #001216;
  position: absolute;
}
header section article:nth-child(3) div {
  margin: 5px;
  width: 100%;
  height: 4px;
  background-color: #001216;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.section1 {
  width: 100%;
  height: 50vh;
  background-image: url(../image/header-img.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.section1 .container {
  background-image: linear-gradient(330deg, var(--color1), black);
  height: 100%;
  opacity: 0.8;
}
.section1 section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 50%;
}
.section1 section div:nth-child(1) {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.section1 section div h1 {
  color: var(--color4);
  font-size: 3em;
}
.section1 section div h1 span:nth-child(1) {
  color: var(--color1);
  font-weight: bold;
}
.section1 section div h1 span:nth-child(2) {
  color: var(--color2);
  font-weight: bold;
}
.section1 section div.khat {
  width: 108px;
  height: 2px;
  background-image: var(--backgroundImage);
  margin-left: auto;
  margin-right: auto;
}
.section1 section div p {
  color: #ffe38f;
  font-size: 2em;
  margin: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}
.type a {
  font-size: 1.2em;
  padding: 10px 30px;
  border-radius: 35px;
  margin: 10px;
  text-decoration: none;
  color: var(--color4);
  font-weight: bold;
}
.a1 {
  position: relative;
  transition: var(--transition);
  border: 2px solid var(--color4);
  background-color: var(--color4);
  color: var(--color2);
}
.a2 {
  color: var(--color2);
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 30px;
  border-radius: 35px;
  margin: 10px;
  position: relative;
  transition: var(--transition);
  border: 2px solid var(--color2);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  background-color: var(--color2);
  color: var(--color4);
}
.a1:hover {
  background-color: #d5cccc;
  border: 2px solid #d5cccc;
}
.a2:hover {
  background-color: #bd6002;
  border: 2px solid #bd6002;
}
@media (max-width: 320px) {
  .a1,
  .a2 {
    margin: 0;
    padding: 10px 20px;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!11 */
.div2 {
  background-color: #001216;
}
.div2 .container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(292px, 200px));
  justify-items: center;
  align-items: flex-end;
  gap: 40px;
  direction: rtl;
  justify-content: center;
}
.div2 .type {
  width: 300px;
  height: 400px;
  text-align: center;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: 20px;
  background: linear-gradient(white, #ffffff) padding-box,
    linear-gradient(to right, var(--color1), var(--color2)) border-box;
  box-shadow: 5px 5px 40px black;
}
.div2 .type .container {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  background-position: 30%;
  background-size: cover;
}
.div2 .type1 .container {
  background-image: url(../image/زبون.jpg);
}
.div2 .type2 .container {
  background-image: url(../image/مصمم.jpg);
}
.div2 .type3 .container {
  background-image: url(../image/تاجر\ قطاعي.jpg);
}
.div2 .type4 .container {
  background-image: url(../image/تاجر\ جمله.jpg);
}
.div2 .type .container article:nth-child(1) {
  display: grid;
  align-content: end;
  align-items: end;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to top, #000000f1, transparent);
}
.div2 .type .container article:nth-child(2) {
  display: none;
  grid-template-rows: 90% 10%;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #000000e4, #000000cf);
}
.div2 .type .container article div:nth-child(1) {
  color: var(--color4);
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 30px;
  text-align: right;
  justify-content: center;
  position: relative;
  transition: var(--transition);
  animation-name: topDiv;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
}
@keyframes topDiv {
  0% {
    transform: translate(0%, 30%);
    -webkit-transform: translate(0%, 30%);
    -moz-transform: translate(0%, 30%);
    -ms-transform: translate(0%, 30%);
    -o-transform: translate(0%, 30%);
  }
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
}
.div2 .type .container article div:nth-child(1) h3 {
  transform: translate(-10px, 0px);
  -webkit-transform: translate(-10px, 0px);
  -moz-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  -o-transform: translate(-10px, 0px);
}
.div2 .type .container article div:nth-child(1) h3::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 4px;
  background-color: green;
  font-size: 10px;
  transform: translate(130%);
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.div2 .type .container article div:nth-child(2) a {
  background-color: green;
  transition: var(--transition);
}
.div2 .type .container article div:nth-child(2) a:hover {
  background-color: rgb(5, 85, 5);
}

.div2 .type article h2 {
  font-size: 40px;
  color: var(--color4);
  font-weight: bold;
}
.div2 .type article i {
  background-image: var(--backgroundImage);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin: 10px;
  color: #fffaf4;
  cursor: pointer;
  animation-name: chevron-up;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes chevron-up {
  0% {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
  }
}

.div2 .type article i:hover .div2 .type article:nth-child(2) {
  display: none;
}
@media (min-width: 1347px) {
  .div2 .container {
    grid-template-columns: repeat(auto-fill, minmax(282px, 200px));
  }
}
@media (max-width: 1347px) and (min-width: 720px) {
  .div2 .container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .div2 .type {
    width: 100%;
  }
}
@media (max-width: 687px) and (min-width: 568px) {
  .div2 .type {
    width: 375px;
  }
}
@media (max-width: 320px) {
  .div2 .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
  }
  .div2 .type {
    width: 250px;
  }
}
/*!!!!!!!!!!!!!!!!!! */

.div-footer {
  width: 100%;
  background-color: black;
  padding: 20px;
}

.div-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.div-footer .container article {
  display: grid;
  justify-content: center;
  text-align: center;
  place-items: center;
}
.div-footer .container article:nth-child(2) {
  border-left: 3px solid #0c4856;
}
.div-footer .container article:nth-child(1) {
  border-right: 3px solid #0c4856;
  display: grid;
}
.div-footer .container article:nth-child(1) div:nth-child(1) h2 {
  margin: 0;
}
.div-footer .container article:nth-child(2) h1 {
  color: #0c4856;
  font-size: 40px;
}

.div-footer .container article:nth-child(2) p {
  color: #1a343b;
  font-size: 20px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-weight: 600;
  text-align: center;
  font-family: x2;
}
.div-footer .container article:nth-child(1) a {
  padding: 0px;
  margin: 40px;
  font-size: 50px;
  background-image: var(--backgroundImage);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 920px) {
  .div-footer .container article:nth-child(1) a {
    font-size: 30px;
    margin: 0px;
  }
  .div-footer .container article:nth-child(2) p {
    font-size: 15px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .inputSearsh {
    width: 100px;
  }
  .div-footer .container {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .div-footer .container article:nth-child(2) p {
    font-size: 14px;
    margin-left: 13px;
  }
  .div-footer .container article:nth-child(2) h1 {
    font-size: 26px;
  }
  header {
    padding: 5px;
    margin-top: -25px;
  }
  .section1 {
    margin-top: 25px;
  }
  .section1 section div h1 {
    font-size: 2em;
  }
  .div2 .type article h2 {
    font-size: 30px;
  }
  .div-footer .container article:nth-child(1) a {
    font-size: 20px;
    margin: 8px;
  }
}
